#set ( $count = 1 )

#if ( !$list.isEmpty($options) && $defaultValue)
#if( $lavel )
<label class="$lavel">
#end
<input type="radio" name="$name" value=""#if ( $clazz ) class="$clazz"#end#if ( $!{value} == '' ) checked="checked"#end#if ( $!{disabled} == 'Y' ) disabled#end/> $defaultValue&nbsp;
#if( $lavel )
</label>
#end
#if( $!{line} == $count )
<br/>
#end
#end

#foreach ( $data in $options )
#if( ${except.get(${data.text})} != 'except' )
#if( $lavel )
    #if( ${point.get(${data.text})} == 'point' )
        <label class="$pointClass">
    #else
        <label class="$lavel">
    #end
#end
<input type="radio" name="$name" value="$data.text"#if ( $clazz ) class="$clazz"#end#if ( $!{value} == $data.text ) checked="checked"#end#if ( $!{disabled} == 'Y' ) disabled#end/> $data.value&nbsp;
#if( $lavel )
</label>
#end

#if( $!{line} == $count )
#set ( $count = 1 )
<br/>
#else
#set ( $count = $count+1 )
#end

#end
#end